<header class="bg-gray-200 p-4 shadow-md">
  <div class="flex justify-between items-center">
    <div class="flex space-x-4">
      <a class="logoLink text-blue-500 text-lg font-semibold bg-gray-300 py-2 px-4 shadow-md" routerLink="/logout" routerLinkActive="active">Logout</a>
      <a class="logoLink text-blue-500 text-lg font-semibold bg-gray-300 py-2 px-4 shadow-md" routerLink="/blogs" routerLinkActive="active">Blogs</a>
    </div>
    <div class="flex space-x-4">
      <a class="headerLink text-blue-500 text-lg font-semibold bg-gray-300 py-2 px-4 shadow-md" routerLink="/" routerLinkActive="active">Login</a>  <!-- login or see blog, if already authenticated. -->
      <a class="headerLink text-blue-500 text-lg font-semibold bg-gray-300 py-2 px-4 shadow-md" routerLink="/register" routerLinkActive="active">Register</a>
    </div>
  </div>
</header>
<div class="container mx-auto p-4">
  <router-outlet></router-outlet>
</div>
